<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h2 class="text-center">Welcome to Azure Active Directory Demo</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center">
            <img src="./../../assets/azure.png" alt="azure" >
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <button type="button" class="btn btn-outline-success mr-5" (click)="onSignIn()">Sign In</button>
            <button type="button" class="btn btn-outline-primary" (click)="onSignUp()">Sign Up</button>
        </div>
    </div>
</div>